@import "/public/assets/scss/mixin";

.footer {
  max-width: 1340px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  p {
    padding: 10px 45px;
    width: max-content;
    @include boxShadow();
    text-align: center;
  }
}
