@import "/public/assets/scss/mixin";

.layout {
  background-color: #fff;
  .header {
    margin: auto;
    margin-top: 10px;
    max-width: 1340px;
    padding: 0 15px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-content: center;
      align-items: center;
      .logo {
        .txtlogo {
          margin: 0;
          padding: 5px 15px;
          @include boxShadow();

          span {
            color: orange;
          }
        }
      }
      .nav {
        .menu {
          list-style: none;
          display: flex;
          padding: 0;
          margin: 0;
          li {
            padding: 5px 15px;
            border-radius: 3px;
            margin: 5px;
            transition: transform 0.1s, filter 0.1s;
            display: flex;

            .icon {
              margin: 0 5px;
              display: flex;
              align-content: center;
              align-items: center;
            }

            &:hover {
              filter: brightness(99%);
            }
            &:active {
              transform: scale(0.97);
            }
            a {
              text-decoration: none;
              color: black;
              line-height: 0.9;
            }
          }
        }
      }
    }
    .AuthAccount {
      .btn {
        @include button();
      }
    }
  }
  .main {
    min-height: 500px;
    & > :not(:last-child) {
      margin-bottom: 60px;
    }
  }
  .footer {
    max-width: 1340px;
    padding: 0 15px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    p {
      padding: 10px 45px;
      width: max-content;
      @include boxShadow();
      text-align: center;
    }
  }
}
